---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Duncan Wardlaw - Portfolio">
	<main>
		<h1>Duncan Wardlaw.</h1>
		<p>I'm a developer and I love creating things that work.</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://github.com/DuncanWardlaw"
				title="GitHub"
				body="Check out my work on GitHub. Leave a star! (Or whatever)"
			/>
			<Card
				href="https://www.linkedin.com/in/duncan-wardlaw-b1619b198/"
				title="LinkedIn"
				body="Follow me, message me, anything you want."
			/>
			<Card
				href="https://astro.build/work/"
				title="My Work"
				body="Explore some of my projects"
			/>
			<Card
				href="https://astro.build/duncan/"
				title="Personal Page"
				body="A non-technical part of the site. Learn more about me!"
			/>
		</ul>
		<img src="../../duncan (2).jpg" alt="" width="80%" class="homeImg">
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	.homeImg {
		margin-left: 10%;
	}
</style>
